<html>
    <body>
        <form method='post' action='/add'>
            
            <label>Enter name for camp  </label>
            <input name='name'></input>
            
           <label>Enter image address for camp</label>
            <input name='img'></input>
            
            <label>Enter description  </label>
            <input name='desc'></input>
            
        <button type='submit'>Add</button>
        </form>
    </body>
</html>